<ion-content>
  <div class="movie">
  <img src="/www/assets/img/poster1.jpg">
  <strong>MAD MAX : FURY ROAD</strong>
  <span style="color:white;position:absolute;font-size:12px;font-family:sans-serif;right:67%;top:300px;">ACTION</span> <span style="color:white;position:absolute;font-size:12px;font-family: sans serif;right:60%;top:300px;">ADVENTURE</span>   
 
  <div class="describe">
      <h5>watch it on</h5>
  
    <h6>Synopsis</h6>
  <p> In a post-apocalyptic wasteland,a woman rebels against a tyrannical ruler in search for her <br>homeland with a aid of a group of female prisoners,<br> a psychotic worshipper, and a drifter named Max.</p>
    <h4>Directed by</h4>
    <img src="/www/assets/img/moviedir.jpeg" class="moviedir">
    <label>Miller</label>
    <h4>cast</h4>
  </div>      

</div>


</ion-content>