 
<div class="Release">
    <h3>Latest Releases</h3>
    <img src="/www/assets/img/image1.jpg">
    <img src="/www/assets/img/image2.jpg">
    <img src="/www/assets/img/image3.jpg">
    <img src="/www/assets/img/image1.jpg">
    <img src="/www/assets/img/image2.jpg">
    <img src="/www/assets/img/image3.jpg">
    <img src="/www/assets/img/image1.jpg">
    <img src="/www/assets/img/image2.jpg">
  
  </div>
  <div class="Netflix">
    <h3>Latest Releases in Netflix</h3>
    <img src="/www/assets/img/image1.jpg">
    <img src="/www/assets/img/image2.jpg">
    <img src="/www/assets/img/image3.jpg">
    <img src="/www/assets/img/image1.jpg">
    <img src="/www/assets/img/image2.jpg">
  
  </div>
  