.Release{
    background-color: #262626;
  
    position:absolute;
    top:88%;
    
    
    width:100%;
  }
  .filter:active .Release{
    top:100%;
  }
  .Release img{
    padding: 0 15px 10px 15px;
  }
  h3{
    color:#fff;
    font-size:14px;
    margin-top:10px;
    margin-left: 20px;
  }
  .Netflix{
    background-color: #262626;
  
    position:absolute;
    
    top:180%;
    
    width:70%;
  }
  .Netflix img{
    padding: 0 15px 10px 15px;
  }
  